---
---

@import "{{ site.theme }}";

section,
.wrapper {
  max-width: 850px !important;
}

.taxonomy__section + .taxonomy__section {
  margin-top: 0 !important;
}

.archive__subtitle-as-page-title-style {
  margin-top: 0;
  line-height: 1;
  
  font-size: 1.563em;
  color: #3d4144;
  
  padding-bottom: 1.5em;
  /*color: #646769;*/
  border-bottom: 1px solid #f2f3f3;
}
